* {
    touch-action: manipulation;
}

body, html {
    width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background: black;
}

.play-button {
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 30px);
    display: block;
    margin: auto;
    font-size: 30px;
}

.hide {
    display: none;
}

#canvas {
    display: block;
    margin: auto;
    height: 90%;
    margin-top: 5%;
    border: 1px solid blue;
}

.mobile-interface {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.rotate-buttons {
    width: 100%;
    height: 25%;
}
.shift-buttons {
    height: 55%;
    width: 100%;
}
.drop-buttons {
    height: 20%;
    width: 100%;
}
.mobile-game-button {
    float: left;
    height: 100%;
    width: 50%;
}